.cv-page{
    flex-grow: 2;
    flex-basis: 300px;
    position: relative;
    box-sizing: border-box;
    min-height: 900px;
}
.download-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}
.card{
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 0 1em;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}
.name-header{
    margin-top: 1.2em;
    box-sizing: border-box;
    font-size: clamp(8px, calc(20px + 1vw), 2rem);
    font-weight: 700;
}
.separator{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.separator-text{
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 1.3em;
}
.line{
    width: 100%;
    height: 0.2rem;
    background-color: rgb(43, 43, 150);
}
.profile-name{
    font-size: 2rem;
}
.contact-group{
    display: flex;
    gap: 1em;
}
.contact{
    display: flex;
    align-items: center;
    gap: 5px;
}
.content > p{
    margin: 0;
}
.contact-text{
    font-size: clamp(8px, calc(10px + 1vw), 1.3rem);
}
.contact img{
    width: 30px;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-text{
    font-weight: 600;
    font-size: 1em;
}
.work-experience{
    width: 100%;;
}
.date-group{
    display: flex;
    align-items: center;
    gap: 30px;
}
.line-connection{
    flex-grow: 2;
    border-top: 2px dashed rgb(53, 137, 248);
}